* { box-sizing: border-box; }
html { font-family: sans-serif; font-weight: lighter; color: #454545;}
body { 
  height: 100vh;
  min-height: 350px;
  min-width: 1000px;
  margin: auto;
  display: flex; }
a { color: #454545; text-decoration: none; }
button { border: none; background: none; }
ul { padding: 0; margin: 0; display: flex; flex-wrap: wrap; list-style: none; }
table { border-collapse: collapse; }

.flex-wrapper { display: flex;}
.play-link {
  font: 75px "Helvetica Neue" ;
  font-weight: lighter;
  margin: auto;
  outline: none;
  cursor: pointer;
  display: block;
  position: relative; }
.play-link::after {
  height: 1px;
  width: 0;
  background: #454545;
  content: '';
  position: absolute; left: 50%; bottom: 0;
  transition: .5s all; }
.play-link:hover::after { width: 100%; left: 0; }


.menu { position: relative; }
.menu > a {
  font-size: 50px;
  position: absolute;
  z-index: 10; }
.menu > #home { top: 35px; left: 70px;}
.menu > #help { bottom: 35px; left: 80px;}


.top { width: 100%; position: relative; }
.top > h1 {
  font: 100px "HelveticaNeue-CondensedBold";
  text-align: center;
  margin: 150px 0 170px 20px; }
#top-ufo {
  transform: rotate(-27deg);
  position: absolute; top: -20px; left: 15px; }
#top-man {
  position: absolute; bottom: 25px; right: 11px; }


.game { 
  width: 100%; 
  padding: 45px 0 0 170px; 
  text-align: center; }
.game .secret { width: fit-content; margin-left: 15%; }
.secret .hint-txt { font-size: 40px; font-weight: lighter;}
.secret .slot-lis { width: fit-content; margin: 15px auto 0; }
.slot-lis > li {
  width: 42px;
  padding-bottom: 4px;
  border-bottom: solid 1px #454545;
  font-size: 44px;
  margin-right: 8px; }
.game .alph-lis { max-width: 492px; margin: 100px 5% 0 0;}
.alph-lis > li {
  width: 82px;
  font-size: 35px;
  line-height: 82px;
  cursor: pointer; }
.game .animation {
  position: relative; }
.animation > * { position: absolute; }
.animation > #game-ufo { top: -110px; left: 180px; }
.animation > #game-man { bottom: -70px; left: 200px; }
.animation .ufo-ray {
  z-index: 1;
  height: 2px;
  width: 400px;
  background: #454545;
  top: 98px;
  transform-origin: top left;
  transition: 1s all; }
.animation:hover .ufo-ray { width: 0px; }
.animation > #ray1{ left: 310px; transform: rotate(115deg); }
.animation > #ray2{ left: 353px; transform: rotate(65deg); }
.animation .game-param { top: -120px; left: 570px; }
.game-param span { font-size: 31px; }
.game-param .alt-bar { margin: auto; }
.alt-bar td { height: 55px; width: 30px; }